body {
    background: linear-gradient(90deg, #800080, #550080, #420080, #350080, #290080,
    #350080, #420080, #550080, #800080);
    height: auto;
    padding: 0 0 3em 0;
    color:#fff;
    margin: 0;
    font-family: Tahoma, Verdana, Geneva;
    font-style: oblique;
    font-weight: 800;

}

#title, #description {
    text-align: center;
    text-shadow: 3px 3px 12px #000, -3px -3px 12px #820082;
}

#title {
    margin-top: 3rem;
    margin-bottom: 1rem;
}

#description {
    margin-bottom: 2em;
    margin-top: 1em;
}

fieldset{
    border: none;
}

#survey-form {
    width: 60%;
    max-width: 900px;
    min-width: 250px;
    margin: 2em auto;
    background: linear-gradient(rgba(36, 34, 75, 0.95) 0%, rgba(10, 1, 29, 0.95) 9%, rgba(10, 1, 29, 0.95) 91%, rgba(36, 34, 75, 0.95));
    border-radius: 21px;
    border-color: rgb(10, 1, 29) rgb(36, 34, 75);
    border-width: 1px;
    border-style: solid;
    box-shadow: 0 0 2em rgb(105, 0, 91);
    padding: 1.5rem;
}

input, select, textarea {
    width: 100%;
    margin: 0.5em auto 1.5em auto;
    height: 2rem;
    border-radius: 6px;
    background: linear-gradient(rgb(7, 0, 99) 0%, rgb(1, 0, 17) 9%, rgb(1, 0, 17) 91%, rgb(7, 0, 99) 100%);
    color: #FFF;
    border: 2px solid rgb(8, 0, 126);
    box-shadow: 0 0 2em #000;
    font-size: 16px;
}

input[type="radio"],
input[type="checkbox"] {
    width: unset;
    height: auto;
    margin: unset;
}

label {
    display:block;
    margin: 0.5em auto;
}

select option {
    background-color: rgb(3, 0, 41);
    font-family: Tahoma, Verdana, Geneva;
    font-style: oblique;
    font-weight: 700;
}
 select {
    height: 2.5rem;
 }

input[type="submit"] {
    background: linear-gradient(#0000ff, #01016e, #0000ff);
    height: 3em;
    box-shadow: 0 0 2em #000;
}

input[type="submit"]:hover {
    background: linear-gradient(#01016e, #0000ff, #01016e);
}
